<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Skill Sharing -Chats</title>
  <meta charset="UTF-8" />
  <link href="../static/css/skillsharing.css" rel="stylesheet" th:href="@{/css/skillsharing.css}"/>
  <link href="../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}"/>
  <link href="../static/css/chat.css" rel="stylesheet" th:href="@{/css/chat.css}"/>
</head>
<div th:replace="fragments/header" ></div>
<body>
<main>
  <aside>
<h1>Your Chats</h1>
    <ul>

      <div th:each="chat: ${#lists.sort(chats,metodecomparador)}">
        <li>
          <a th:href="@{/chat/messages/{idChat}(idChat=${chat.getIdChat()})}"><button class="buttonlist" type="button" th:text="${chat.getNombreOtraPersona()}"></button></a>
      </li>
      </div>
    </ul>

  </aside>
  <br>
  <a href="/"><button class="addbutton color_text" type="button">Back</button></a>
  <br>
</main>

</body>
</html>
