<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Chats</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Lista de Chats</h1>
<form action="#" th:action="@{/chat/messages}"
      th:object="${newMessage}" method="post">

<table>
    <thead>
    <th scope="col"></th>
    </thead>
    <tbody>
    <tr th:each="message: ${messages}">
    <td > <table>
            <tr><th th:text="${message.date}"> </th> </tr>
            <tr>
            <td th:text="${message.student}"> </td>
            <td th:text="${message.content}"></td>
            </tr>
    </table> </td>
    </tr>
    </tbody>
</table>
<!--    <ul th:each="message: ${messages}">-->
<!--    &#45;&#45;<p th:text="${message.date}">&#45;&#45;</p>-->
<!--        <li th:text="${message.student}"></li> : <p th:text="${message.content}"></p>-->

<!--    </ul>-->


    <input type="text" th:field="*{content}"> <input type="submit" value=">">
</form>

</body>
</html>
