<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Gestionar Nadadors</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>


<body>
<div layout:fragment="content">
    <h1>Llista de Nadadors</h1>
    <div th:if="${#lists.isEmpty(students)}">
        No hi ha students en la base de dades
    </div>
    <p>Ordenar por: </p>
    <form  action="#" th:action="@{/student/list/sorted}" th:object="${sorter}" >
        <select type="text" th:field="*{type}">

            <option value="Id">Student Id</option>
            <option value="BalanceHours">Balance Hours</option>
        </select>

        <select type="text" th:field="*{texto}">

            <option value="TopToBot">↓</option>
            <option value="BotToTop">↑</option>
        </select>
        <input class="register" type="submit" value="Submit"/>

    </form>

    <p th:text="${sorter}">AAAA</p>
    <table th:unless="${#lists.isEmpty(students)}" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">dni</th>
            <th scope="col">email</th>
            <th scope="col">phoneNumber</th>
            <th scope="col">degree</th>
            <th scope="col">course</th>
            <th scope="col">balanceHours</th>
            <th scope="col">skp</th>
            <th scope="col">active</th>
            <th scope="col"></th>

            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student: ${#lists.sort(students, comparator)}">
            <td th:text="${student.idStudent}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.dni}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.phoneNumber}"></td>
            <td th:text="${student.degree}"></td>
            <td th:text="${student.course}"></td>
            <td th:text="${student.balanceHours}"></td>
            <td th:text="${student.skpMember}"></td>
            <td th:text="${student.activeAccount}"></td>
            <td th:field="banReason" th:object="${session}" th:if="not *{user == null} and *{user.skpMember} and not *{student.skpMember}"><a th:href="@{/student/ban/{id}(id=${student.idStudent})}"><button type="button" class="btn btn-danger" >Ban</button></a></td>

        </tr>

        </tbody>
    </table>
</div>
</body>
</html>
