<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Students list</title>
    <meta charset="UTF-8" />
    <link href="../static/css/skillsharing.css" rel="stylesheet" th:href="@{/css/skillsharing.css}"/>
    <link href="../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}"/>
    <link href="../static/css/user.css" rel="stylesheet" th:href="@{/css/user.css}"/>
</head>
<div th:replace="fragments/header" ></div>
<body>
<main class="centrado">
    <h1 class="titulo">List of Students</h1>
    <div th:if="${#lists.isEmpty(students)}">
        There are not Students registered
    </div>
    <div class="filter">
        <p>Filter by: </p>
        <form  action="#" th:action="@{/student/list/sorted}" th:object="${sorter}" >
            <select type="text" class="filtro" th:field="*{type}" th:onchange="this.form.submit()">
                <option value="Id">Registration Date</option>
                <option value="BalanceHours">Balance Hours</option>
            </select>

            <select class="filtro" type="text" th:field="*{texto}" th:onchange="this.form.submit()">
                <option value="BotToTop">↑</option>
                <option value="TopToBot">↓</option>

            </select>
        </form>
    </div>
    <br>
    <br>

    <table th:unless="${#lists.isEmpty(students)}" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">DNI</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Degree</th>
            <th scope="col">Course</th>
            <th scope="col">BalanceHours</th>

        </tr>
        </thead>
        <tbody>

        <tr th:each="student: ${#lists.sort(students, comparator)}">
            <td th:text="${student.name}"></td>
            <td th:text="${student.dni}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.phoneNumber}"></td>
            <td th:text="${student.degree}"></td>
            <td th:text="${student.course}"></td>
            <td th:text="${student.balanceHours}"></td>
            <td class="colBan" th:field="banReason" th:object="${session}"
                th:if="not *{user == null} and *{user.skpMember} and not *{student.skpMember} and *{student.activeAccount}">
                <a class="add color_text" th:href="@{/student/ban/{id}(id=${student.idStudent})}">Ban</a></td>
            <td class="colBan" th:field="banReason" th:object="${session}"
                th:if="not *{user == null} and *{user.skpMember} and not *{student.skpMember} and not *{student.activeAccount}">
                <a class="add color_text" th:href="@{/student/unban/{id}(id=${student.idStudent})}">Unban</a></td>
        </tr>
        </tbody>
    </table>
    <br>
    <a  href=".." class="add color_text" >Back</a>
    <div th:replace="fragments/confirmacion"></div>
</main>
</body>
</html>
