<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Gestionar colaboracions</title>
    <meta charset="UTF-8" />
    <link href="../static/css/skillsharing.css" rel="stylesheet" th:href="@{/css/skillsharing.css}"/>
    <link href="../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}"/>
    <link href="../static/css/table.css" rel="stylesheet" th:href="@{/css/table.css}"/>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<div th:replace="fragments/header" ></div>
<body>
<main>
    <h1>List of Collaborations</h1>
    <div th:if="${#lists.isEmpty(collaborations)}" th:text="'There are not collaborations registered'"></div>
    <table th:unless="${#lists.isEmpty(collaborations)}">
        <thead>
        <tr>
            <th>id</th>
            <th>idRequest</th>
            <th>idOffer</th>
            <th>AssessmentScore</th>
            <th>Hours</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="collaboration: ${collaborations}">
            <td th:text="${collaboration.idCollaboration}"></td>
            <td th:text="${collaboration.idRequest}"></td>
            <td th:text="${collaboration.idOffer}"></td>
            <td th:text="${collaboration.assessmentScore}"></td>
            <td th:text="${collaboration.hours}"></td>
        </tr>
        </tbody>
    </table>
    <a href=".."><button type="button">Atrás</button></a>
</main>
</body>
</html>