<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Gestionar colaboracions</title>
    <meta charset="UTF-8" />
    <link href="../static/css/skillsharing.css" rel="stylesheet" th:href="@{/css/skillsharing.css}"/>
    <link href="../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}"/>
    <link href="../static/css/skill.css" rel="stylesheet" th:href="@{/css/skill.css}"/>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<div th:replace="fragments/header" ></div>
<body>
<main class="centrado">
    <h1 class="titulo">List of Collaborations</h1>
    <div th:if="${#lists.isEmpty(collaborations)}" th:text="'There are not collaborations registered'"></div>
    <table th:unless="${#lists.isEmpty(collaborations)}">
        <thead>
        <tr>
            <th><label>Offeror</label></th>
            <th><label>Requester</label></th>
            <th><label>Skill</label></th>
            <th><label>Collaboration State</label></th>
            <th><label>Hours</label></th>
            <th><label>Score</label></th>

        </tr>
        </thead>
        <tbody>
        <tr class="color" th:each="collaboration: ${collaborations}">
            <td> <label th:text="${collaboration.idOffer.student.name}"></label></td>
            <td> <label th:text="${collaboration.idRequest.student.name}"> </label></td>
            <td> <label th:text="${collaboration.idRequest.skill.name}"></label></td>
            <td>
                <label th:if="${collaboration.collaborationState}==0"> Pending</label>
                <label th:if="${collaboration.collaborationState}==1"> Confirmed</label>
                <label th:if="${collaboration.collaborationState}==2"> Completed</label>
            </td>
            <td>
                <label th:if="${collaboration.collaborationState}==2"><label th:text="${collaboration.hours}"></label></label>
                <label th:unless="${collaboration.collaborationState}==2">?</label>
            </td>
            <td>
                <label th:if="${collaboration.collaborationState}==2"><label th:text="${collaboration.assessmentScore}"></label></label>
                <label th:unless="${collaboration.collaborationState}==2">?</label>
            </td>

        </tr>
        </tbody>
    </table>
    <br>

    <a  href="/" class="add color_text" >Back</a>
</main>
</body>
</html>


