<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Gestionar colaboracions</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>

<body>
<div class="container">
    <h1>List of Collaborations</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>idRequest</th>
            <th>idOffer</th>
            <th>AssessmentScore</th>
            <th>Hours</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="collaboration: ${collaborations}">
            <td th:text="${collaboration.idCollaboration}"></td>
            <td th:text="${collaboration.idRequest}"></td>
            <td th:text="${collaboration.idOffer}"></td>
            <td th:text="${collaboration.assessmentScore}"></td>
            <td th:text="${collaboration.hours}"></td>

        </tr>
        </tbody>
    </table>

</div>
</body>

</html>