<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Assess Collaboration -SkillSharing</title>
    <meta charset="UTF-8" />
    <link href="../static/css/skillsharing.css" rel="stylesheet" th:href="@{/css/skillsharing.css}"/>
    <link href="../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}"/>
    <link  type="text/css" rel="stylesheet" th:href="@{../../css/addOR.css}"/>
    <link  type="text/css" rel="stylesheet" th:href="@{../../css/estrellas.css}"/>
</head>
<div th:replace="/fragments/header.html"></div>
<body>
<main>
    <div class="cajaValo">
        <div class="caja-interno">
            <h2 th:text="${collaboration.getIdRequest().getSkill().getName()}"></h2>
            <div class="nombreAutor"><label th:text="'By '+${collaboration.getIdOffer().student.name}"></label></div>
            <hr/>
            <form action="#" th:action="@{/collaboration/valorar}"
                  th:object="${collaboration}" method="post">
                <table>
                    <tr class="iz">
                        <th><label>Start:</label></th>
                        <th><label>End:</label></th>
                    </tr>
                    <tr class="iz">
                        <td>
                            <input class="read" type="date" th:value="${collaboration.getIdRequest().getStartDate()}" readonly>
                        </td>
                        <td>
                            <input class="read" type="date" th:value="${collaboration.getIdRequest().getEndDate()}" readonly>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr class="iz">
                        <th><label>Teacher:</label></th>
                        <th><label>Hours:</label></th>
                    </tr>
                    <tr class="iz">
                        <td>
                            <input class="read" type="text" th:value="${collaboration.getIdOffer().getStudent().getName()}" readonly>
                        </td>
                        <td>
                            <select class="rellena2" th:unless="${#fields.hasErrors('hours')}" type="number" th:field="*{hours}">
                                <option value="0">Select the duration</option>
                                <option value="1">1h</option>
                                <option value="1.5">1.5h</option>
                                <option value="2">2h</option>
                                <option value="2.5">2.5h</option>
                                <option value="3">3h</option>
                                <option value="3.5">3.5h</option>
                                <option value="4">4h</option>
                                <option value="4.5">4.5h</option>
                                <option value="5">5h</option>
                                <option value="6">+6h</option>
                            </select>
                            <select class="error2" th:if="${#fields.hasErrors('hours')}" type="number" th:field="*{hours}">
                                <option value="0">Select the duration</option>
                                <option value="1">1h</option>
                                <option value="1.5">1.5h</option>
                                <option value="2">2h</option>
                                <option value="2.5">2.5h</option>
                                <option value="3">3h</option>
                                <option value="3.5">3.5h</option>
                                <option value="4">4h</option>
                                <option value="4.5">4.5h</option>
                                <option value="5">5h</option>
                                <option value="6">+6h</option>
                            </select>

                        </td>
                    </tr>
                </table>
                <table class="valo">
                    <tr class="iz">
                        <th><label>Valoration:</label></th>
                        <th th:unless="${#fields.hasErrors('assessmentScore')}">
                            <label class="clasificacion">
                                <input id="radio1" type="radio" name="estrellas" value="5" th:field="*{assessmentScore}">
                                <label class="estrella" for="radio1">★</label>
                                <input id="radio2" type="radio" name="estrellas" value="4" th:field="*{assessmentScore}">
                                <label class="estrella" for="radio2">★</label>
                                <input id="radio3" type="radio" name="estrellas" value="3" th:field="*{assessmentScore}">
                                <label class="estrella" for="radio3">★</label>
                                <input id="radio4" type="radio" name="estrellas" value="2" th:field="*{assessmentScore}">
                                <label class="estrella" for="radio4">★</label>
                                <input id="radio5" type="radio" name="estrellas" value="1" th:field="*{assessmentScore}">
                                <label class="estrella" for="radio5">★</label>
                            </label>
                        </th>
                        <th th:if="${#fields.hasErrors('assessmentScore')}">
                            <label class="clasificacion errorStar">
                                <input id="radio1" type="radio" name="estrellas" value="5" th:field="*{assessmentScore}">
                                <label class="estrella" for="radio1">★</label>
                                <input id="radio2" type="radio" name="estrellas" value="4" th:field="*{assessmentScore}">
                                <label class="estrella" for="radio2">★</label>
                                <input id="radio3" type="radio" name="estrellas" value="3" th:field="*{assessmentScore}">
                                <label class="estrella" for="radio3">★</label>
                                <input id="radio4" type="radio" name="estrellas" value="2" th:field="*{assessmentScore}">
                                <label class="estrella" for="radio4">★</label>
                                <input id="radio5" type="radio" name="estrellas" value="1" th:field="*{assessmentScore}">
                                <label class="estrella" for="radio5">★</label>
                            </label>
                        </th>
                    </tr>
                </table>
                <div class="hrdiv"><hr/></div>
                <a href="/profile"><button class="sumit" type="button" >Back</button></a>
                <input type="checkbox" class="checconf" id="confirm">
                <label class="ajustesSubmit sumit2 " for="confirm"> Assess Collaboration </label>

                <div class="corfrimacion">
                    <p class="color_text">Are you sure you want to assess this colaboration?</p>
                    <table class="botones">
                        <tr>
                            <td><button class="botonConf" for="confirm"> Back </button></td>
                            <td><button class="botonConf" type="submit">Confirm</button></td>
                        </tr>
                    </table>
                </div>

                <label class="fondoOscuro2"></label>

            </form>
        </div>
    </div>
</main>
</body>
</html>