<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Request</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h2>New Request</h2>
    <form class="form-horizontal" action="#" th:action="@{/request/add}"
          th:object="${request}" method="post">

        <div class="form-group row">
            <label class="control-label col-sm-2" for="skill">Skill:</label>
            <div class="col-sm-4">
                <select class="form-control" type="text" id="skill" th:field="*{skill.idSkill}">
                    <option th:each="skill:${skills}"
                            th:value="${skill}"
                            th:text="${skill}"></option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="startDate">Start date:</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="startDate" th:field="*{startDate}" required/>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="endDate">End date:</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="endDate" th:field="*{endDate}" required/>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="idDescription">Description:</label>
            <div class="col-sm-4">
                <input type="text" maxlength="100" class="form-control" id="idDescription" th:field="*{description}" required/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-primary">Create request</button>
            </div>
        </div>

    </form>
</div>
</body>
</html>

