<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Requests</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h1>Requests</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>Skill</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Description</th>
            <th>Student</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="request: ${requests}">
            <td th:text="${request.id}"></td>
            <td th:text="${request.skill.idSkill}"></td>
            <td th:text="${request.startDate}"></td>
            <td th:text="${request.endDate}"></td>
            <td th:text="${request.description}"></td>
            <td th:text="${request.student.idStudent}"></td>
            <td> <a th:href="@{/request/update/{id}(id=${request.id})}" class="btn btn-warning" role="button">Edit</a></td>
            <td><a th:href="@{/request/delete/{id}(id=${request.id})}" class="btn btn-danger" role="button">Cancel</a></td>
        </tr>
        </tbody>
    </table>
    <a href="add" class="btn btn-success" role="button">Add request</a>
</div>
</body>
</html>

