<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add a New Skill</title>
  <meta charset="UTF-8" />
  <link type="text/css"  rel="stylesheet" th:href="@{../../css/skillsharing.css}"/>

  <link  type="text/css" rel="stylesheet" th:href="@{../../css/header.css}"/>
  <link  type="text/css" rel="stylesheet" th:href="@{../../css/addOR.css}"/>


</head>

<div th:replace="fragments/header" ></div>

<body>
<main>
<div class="caja">
  <div class="caja-interno">
    <h2 >Create a Skill</h2>
    <hr/>
    <form action="#" th:action="@{/skill/add}"
          th:object="${skill}" method="post">
      <table>
        <tr class="iz">
          <td><label>Name</label></td>
          <td><label>Level</label></td>
        </tr>
        <tr class="iz">
          <td>
            <input type="text" class="error"  th:field="*{name}"
                placeholder="Name" maxlength="20" th:errorclass="needcorrection"
                     th:if="${#fields.hasErrors('name')}"/>
            <input type="text"  th:field="*{name}"
                     placeholder="Name" maxlength="20" th:errorclass="needcorrection"
                     th:unless="${#fields.hasErrors('name')}"/>

          </td>

          <td>

            <select th:field="*{level}">
              <option value="0">Beginner</option>
              <option value="1">Intermediate</option>
              <option value="2">Expert</option>
            </select>
          </td>
        </tr>
      </table>
      <table>
        <tr class="iz">
          <td><label>Description</label></td>
        </tr>
        <tr class="iz">
          <td>
            <input class="error" th:if="${#fields.hasErrors('description')}" th type="text" th:field="*{description}" placeholder="Description" maxlength="100" th:errorclass="needcorrection">

            <input th:unless="${#fields.hasErrors('description')}" th type="text"  class="rellenaGrande" th:field="*{description}" placeholder="Description" maxlength="100" th:errorclass="needcorrection" >
          </td>
        </tr>
      </table>
      <div class="hrdiv"><hr/></div>
      <a href="list"><button class="sumit" type="button" >Back</button></a>
      <button class="sumit" type="submit">Add Skill</button>
    </form>
    </div>
</div>
</main>
</body>
</html>
