<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Gestionar Skills</title>
  <meta charset="UTF-8" />
  <link href="../static/css/skillsharing.css" rel="stylesheet" th:href="@{/css/skillsharing.css}"/>
  <link href="../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}"/>
  <link href="../static/css/skill.css" rel="stylesheet" th:href="@{/css/skill.css}"/>
</head>
<div th:replace="fragments/header" ></div>
<body>
<main class="centrado">
<h1 class="titulo">Lista de Skills</h1>
<table>
  <tr>
    <th>idSkill</th>
    <th>Nombre</th>
    <th>Nivel</th>
    <th>Descripción</th>

  </tr>
  <tr class="bacgraund" th:each="skill: ${skills}">
    <td th:text="${skill.idSkill}"></td>
    <td th:text="${skill.name}"></td>
    <td th:text="${skill.level}"></td>
    <td th:text="${skill.description}"></td>
    <td>
      <a th:href="@{/skill/update/{idSkill}(idSkill=${skill.idSkill})}"
         role="button">edit</a>
      <a th:href="@{/skill/delete/{idSkill}(idSkill=${skill.idSkill})}"
         role="button">delete</a>
    </td>

  </tr>
</table>
<a href="add"><button type="button">Añadir skill</button></a>
<a href=".."><button type="button">Atrás</button></a>
</main>
</body>
</html>
