<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Gestionar Skills</title>
  <meta charset="UTF-8" />
  <link href="../static/css/skillsharing.css" rel="stylesheet" th:href="@{/css/skillsharing.css}"/>
  <link href="../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}"/>
  <link href="../static/css/skill.css" rel="stylesheet" th:href="@{/css/skill.css}"/>
</head>
<div th:replace="fragments/header" ></div>
<body>
<main class="centrado">
  <h1 class="titulo">Lista de Skills</h1>
  <table>
    <thead>
      <tr>
        <th ><label>idSkill</label></th>
        <th><label>Name</label></th>
        <th><label>Level</label></th>
        <th><label>Description</label></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    <tr class="color" th:each="skill: ${#lists.sort(skills, metodecomparador)}">
      <td> <label th:text="${skill.idSkill}"></label></td>
      <td> <label th:text="${skill.name}"></label></td>
      <td>
        <label th:if="${skill.level}==0"> Beginner</label>
        <label th:if="${skill.level}==1"> Intermediate</label>
        <label th:if="${skill.level}==2"> Expert</label>
      </td>
      <td> <label th:text="${skill.description}"></label></td>
      <td th:if="not ${session.user == null} and ${session.user.skpMember==true}">
        <div>
          <a th:href="@{/skill/update/{idSkill}(idSkill=${skill.idSkill})}"
                role="button"><img class="tamIcon" src="/imagenes/editar.png"></a>
          <a th:href="@{/skill/delete/{idSkill}(idSkill=${skill.idSkill})}"
             role="button"><img class="tamIcon" src="/imagenes/delete.png"></a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <br>
  <a  href="/" class="add color_text" >Back</a>
  <a  th:if="${session.user.skpMember==true}"  href="add" class="add color_text" >Add</a>

</main>
</body>
</html>
