<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Gestionar Skills</title>
  <meta charset="UTF-8" />
  <link href="../static/css/skillsharing.css" rel="stylesheet" th:href="@{/css/skillsharing.css}"/>
  <link href="../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}"/>
  <link href="../static/css/skill.css" rel="stylesheet" th:href="@{/css/skill.css}"/>
</head>
<div th:replace="fragments/header" ></div>
<body>
<main class="centrado">
  <h1 class="titulo">Lista de Skills</h1>
  <table>
    <tr>
      <th ><label>idSkill</label></th>
      <th><label>Nombre</label></th>
      <th><label>Nivel</label></th>
      <th><label>Descripción</label></th>

    </tr>
    <tr class="color" th:each="skill: ${skills}">
      <td> <label th:text="${skill.idSkill}"></label></td>
      <td> <label th:text="${skill.name}"></label></td>
      <td> <label th:text="${skill.level}"></label></td>
      <td> <label th:text="${skill.description}"></label></td>
      <td>
        <div>
          <a th:href="@{/skill/update/{idSkill}(idSkill=${skill.idSkill})}"
                role="button">edit</a>
          <a th:href="@{/skill/delete/{idSkill}(idSkill=${skill.idSkill})}"
             role="button">delete</a>
        </div>

      </td>
    </tr>
  </table>
  <a href="add"><button type="button">Añadir skill</button></a>
  <a href=".."><button type="button">Atrás</button></a>
</main>
</body>
</html>
