<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Modificar skill</title>
  <meta charset="UTF-8" />
  <link type="text/css"  rel="stylesheet" th:href="@{../../css/skillsharing.css}"/>
  <link  type="text/css" rel="stylesheet" th:href="@{../../css/header.css}"/>
  <link  type="text/css" rel="stylesheet" th:href="@{../../css/addOR.css}"/>
</head>
<div th:replace="fragments/header" ></div>
<body>
<main>
  <div class="caja">
    <div class="caja-interno">
      <h2>Modificar skill </h2>
      <hr/>
      <form action="#" th:action="@{/skill/update}"
            th:object="${skill}" method="post">
        <table>
          <tr class="iz">
            <td><label>Name</label></td>
            <td><label>Level</label></td>
          </tr>
          <tr class="iz">
            <td>
              <label th:text=${skill.name}></label>
            </td>

            <td>
              <label th:if="${skill.level}==0"> Beginner</label>
              <label th:if="${skill.level}==1"> Intermediate</label>
              <label th:if="${skill.level}==2"> Expert</label>
<!--              <input type="number" max="2" min="0" th:field="*{level}" readonly/>-->
            </td>
          </tr>
        </table>
        <table>
          <tr class="iz">
            <td><label>Description</label></td>
          </tr>
          <tr class="iz">
            <td>
              <input class="error" th:if="${#fields.hasErrors('description')}" th type="text" th:field="*{description}" placeholder="Description" maxlength="100" th:errorclass="needcorrection">

              <input th:unless="${#fields.hasErrors('description')}" th type="text"  class="rellenaGrande" th:field="*{description}" placeholder="Description" maxlength="100" th:errorclass="needcorrection" >
            </td>
          </tr>
        </table>
        <div class="hrdiv"><hr/></div>
      <a href="/skill/list"><button class="sumit" type="button" >Back</button></a>
        <input type="checkbox" class="checconf" id="confirm">
        <label class="ajustesSubmit sumit4 " for="confirm"> Update Skill </label>

        <div class="corfrimacion">
          <p class="color_text">Are you sure you want to edit this Skill?</p>
          <table class="botones">
            <tr>
              <td><label class="botonConf" for="confirm"> Back </label></td>
              <td><button class="sumit" type="submit">Apply</button></td>
            </tr>
          </table>
        </div>

        <label class="fondoOscuro2"></label>

      </form>
    </div>
  </div>
</main>
</body>
</html>
