<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Create '+${type}"></title>
    <meta charset="UTF-8" />
    <link type="text/css"  rel="stylesheet" th:href="@{../../css/skillsharing.css}"/>
    <link  type="text/css" rel="stylesheet" th:href="@{../../css/header.css}"/>
    <link  type="text/css" rel="stylesheet" th:href="@{../../css/addOR.css}"/>
</head>

<div th:replace="fragments/header" ></div>
<div th:replace="fragments/confirmation" ></div>
<body>
<main>
<div class="caja">
    <div class="caja-interno">
    <h2 th:text="'Create '+${type}"></h2>
        <hr/>
    <form action="#" th:href="@{/{url}(url=${offeRequest.url})/add}"
          th:object="${offeRequest}" method="post">
        <table>
            <tr class="iz">
                <td><label>Skill:</label></td>
                <td><label>Description:</label></td>
            </tr>
            <tr class="iz">
                <td>
                    <select class="error" type="text" id="skill" th:field="*{skill.idSkill}"
                             th:if="${#fields.hasErrors('skill.idSkill')}" >
                        <option th:each="skill1:${skills}" th:value="${skill1}"
                                th:text="${skill1}"></option>
                    </select>
                    <select  type="text" th:field="*{skill.idSkill}"
                             th:unless="${#fields.hasErrors('skill.idSkill')}" >
                        <option th:each="skill1:${skills}" th:value="${skill1}"
                                th:text="${skill1}"></option>
                    </select>
                </td>
                <td>
                    <input type="text" maxlength="100" id="description" th:field="*{description}"
                           th:unless="${#fields.hasErrors('description')}"/>
                    <input class="error" type="text" maxlength="100" th:field="*{description}"
                           th:if="${#fields.hasErrors('description')}"/>
                </td>
            </tr>
            <tr class="iz">
                <td><label>Start date:</label></td>
                <td><label>End date:</label></td>
            </tr>

            <tr class="iz">
                <td>
                    <input type="date" id="startDate" th:field="*{startDate}"
                           th:unles="${#fields.hasErrors('startDate')}"/>
                    <input class="error" type="date" id="startDate" th:field="*{startDate}"
                           th:if="${#fields.hasErrors('startDate')}"/>
                </td>
                <td>
                    <input  type="date" id="endDate" th:field="*{endDate}"
                           th:unles="${#fields.hasErrors('endDate')}"/>
                    <input class="error" type="date" id="endDate" th:field="*{endDate}"
                           th:if="${#fields.hasErrors('endDate')}"/>
                </td>
            </tr>
        </table>
        <div class="hrdiv"><hr/></div>
        <table>
            <tr>
                <td><a href="list"><button class="sumit" type="button" >Back</button></a></td>
                <td><button class="sumit" type="submit" for="check" th:text="'Create a '+${type}"></button></td>
            </tr>
        </table>
    </form>
</div>
</div>
</main>
</body>
</html>

