<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Create '+${type}"></title>
    <meta charset="UTF-8" />
    <link type="text/css"  rel="stylesheet" th:href="@{../../css/skillsharing.css}"/>
    <link  type="text/css" rel="stylesheet" th:href="@{../../css/header.css}"/>
    <link  type="text/css" rel="stylesheet" th:href="@{../../css/registro.css}"/>
</head>

<div th:replace="fragments/header" ></div>
<body>
<main>
<div class="caja">
    <div class="caja-interno">
    <h2 th:text="'Create '+${type}"></h2>
        <hr/>
    <form class="form-horizontal" action="#" th:href="@{/{url}(url=${offeRequest.url})/add}"
          th:object="${offeRequest}" method="post">
        <table>
            <tr class="iz">
                <td><label>Skill:</label></td>
                <td><label>Description:</label></td>
            </tr>
            <tr class="iz">
                <td><select class="form-control" type="text" id="skill" th:field="*{skill.idSkill}">
                <option th:each="skill1:${skills}"
                        th:value="${skill1}"
                        th:text="${skill1}"></option>
                </select>
                    <a th:if="${#fields.hasErrors('skill.idSkill')}" th:errors="*{skill.idSkill}"></a>
                    </td>
                    <td><input type="text" maxlength="100" class="form-control" id="description" th:field="*{description}"/>
                        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p></td>
            </tr>
        </table>
        <table>
            <tr class="iz">
                <td><label>Start date:</label></td>
                <td><label>End date:</label></td>
            </tr>

            <tr class="iz">
                <td><input type="date" id="startDate" th:field="*{startDate}"/>
                    <p th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></p>
                </td>
                <td><input type="date" id="endDate" th:field="*{endDate}"/>
                    <p th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></p></td>
            </tr>
        </table>
        <br>
        <table>
            <tr>
                <td><a href="list"><button type="button" class="register">Back</button></a></td>
                <td><button type="submit" class="register" th:text="'Create a '+${type}"></button></td>
            </tr>
        </table>
    </form>
</div>
</div>
</main>
</body>
</html>

