<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${type}+'s'"></title>
    <meta charset="UTF-8" />
    <link href="../static/css/skillsharing.css" rel="stylesheet" th:href="@{/css/skillsharing.css}"/>
    <link href="../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}"/>
    <link href="../static/css/request.css" rel="stylesheet" th:href="@{/css/request.css}"/>
</head>

<div th:replace="fragments/header" ></div>
<body>
<main class="centrado" >
    <div>
        <h1 class="titulo centrado" th:text="${type}+'s'"></h1>
        <a  href="add" class="add color_text">Add</a>
    </div>

    <div th:if="${#lists.isEmpty(list1)}" th:text="'There are not '+${type}+'s registered'"></div>
    <table class="tablaRequest" th:unless="${#lists.isEmpty(list1)}">
        <tr>
            <td>
                <ul>
                    <li class="caja color_text" th:each="offeRequest: ${list1}">
                        <div class="caja-interno">
                            <label th:text="${offeRequest.skill.idSkill}"></label>
                            <div>
                                <label class="start">Start</label>
                                <label>End</label>
                                <label class="start" th:text="${offeRequest.startDate}"></label>
                                <label class="end" th:text="${offeRequest.endDate}"></label>
                                <div class="descripcion" ><p class="texto" th:text="${offeRequest.description}"></p></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </td>
            <td>
                <ul >
                    <li class="caja color_text" th:each="offeRequest: ${list2}">
                        <div class="caja-interno">
                            <label th:text="${offeRequest.skill.idSkill}"></label>
                            <div>
                                <label class="start">Start</label>
                                <label>End</label>
                                <label class="start" th:text="${offeRequest.startDate}"></label>
                                <label class="end" th:text="${offeRequest.endDate}"></label>
                                <div class="descripcion" ><p class="texto" th:text="${offeRequest.description}"></p></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="caja color_text" th:each="offeRequest: ${list3}">
                        <div class="caja-interno">
                            <label th:text="${offeRequest.skill.idSkill}"></label>
                            <div>
                                <label class="start">Start</label>
                                <label>End</label>
                                <label class="start" th:text="${offeRequest.startDate}"></label>
                                <label class="end" th:text="${offeRequest.endDate}"></label>
                                <div class="descripcion" ><p class="texto" th:text="${offeRequest.description}"></p></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </td>
        </tr>
    </table>

</main>
</body>
</html>


<!--<a th:href="'update/'+${offeRequest.id}" role="button"><i style='font-size:24px' class='far'>&#xf044;</i></a>-->
<!--<a th:href="'delete/'+${offeRequest.id}" role="button">-->
<!--    <button class="btn"><i style='font-size:24px' class="fa fa-trash"></i></button></a>-->

