<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${type}+'s'"></title>
    <meta charset="UTF-8" />
    <link href="../static/css/skillsharing.css" rel="stylesheet" th:href="@{/css/skillsharing.css}"/>
    <link href="../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}"/>
    <link href="../static/css/table.css" rel="stylesheet" th:href="@{/css/table.css}"/>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<div th:replace="fragments/header" ></div>
<body>
<div class="container">
    <h1 th:text="${type}+'s'"></h1>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>Skill</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Description</th>
            <th>Student</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="offeRequest: ${list}">
            <td th:text="${offeRequest.id}"></td>
            <td th:text="${offeRequest.skill.idSkill}"></td>
            <td th:text="${offeRequest.startDate}"></td>
            <td th:text="${offeRequest.endDate}"></td>
            <td th:text="${offeRequest.description}"></td>
            <td th:text="${offeRequest.student.idStudent}"></td>
            <td><a th:href="'update/'+${offeRequest.id}" role="button"><i style='font-size:24px' class='far'>&#xf044;</i></a></td>
            <td><a th:href="'delete/'+${offeRequest.id}" role="button"><button class="btn"><i style='font-size:24px' class="fa fa-trash"></i></button></a></td>
        </tr>
        </tbody>
    </table>
    <a href="add" class="btn btn-success" role="button" th:text="'Add '+${type}"></a>
</div>
</body>
</html>

