<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Edit '+${type}"></title>
    <meta charset="UTF-8" />
    <link href="../static/css/skillsharing.css" rel="stylesheet" th:href="@{/css/skillsharing.css}"/>
    <link href="../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}"/>
    <link href="../static/css/registro.css" rel="stylesheet" th:href="@{/css/registro.css}"/>
</head>
<div th:replace="fragments/header" ></div>
<body>
<main>
    <div class="caja">
        <div class="caja-interno">
            <hr/>
            <form action="#" th:action="@{/__${offeRequest.url}__/update}"
                  th:object="${offeRequest}" method="post">
                <h2 th:text="'Edit '+${id}"></h2>
                <table>
                    <tr class="iz">
                        <td><label>Skill:</label></td>
                        <td><label>Description:</label></td>
                    </tr>
                    <tr class="iz">
                        <td><input type="text" maxlength="100" id="idSkill" th:field="*{skill.name}" readonly/></td>
                        <td><input type="text" maxlength="100" class="form-control" id="description" th:field="*{description}"/>
                            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p></td>
                    </tr>
                </table>
                <table>
                    <tr class="iz">
                        <td><label>Start date:</label></td>
                        <td><label>End date:</label></td>
                    </tr>

                    <tr class="iz">
                        <td><input type="date" id="startDate" th:field="*{startDate}"/>
                            <p th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></p>
                        </td>
                        <td><input type="date" id="endDate" th:field="*{endDate}"/>
                            <p th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></p>
                        </td>
                    </tr>
                </table>
                <br>
                <table>
                    <tr>
                        <td><a href="../list"><button type="button" class="register">Back</button></a></td>
                        <td><button type="submit" class="register">Apply</button></td>
                    </tr>
                </table>
            </form>
</div>
    </div>
    </main>
</body>
</html>

