<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Edit '+${type}"></title>
    <meta charset="UTF-8" />
    <link type="text/css"  rel="stylesheet" th:href="@{../../css/skillsharing.css}"/>
    <link  type="text/css" rel="stylesheet" th:href="@{../../css/header.css}"/>
    <link  type="text/css" rel="stylesheet" th:href="@{../../css/addOR.css}"/>
</head>
<div th:replace="fragments/header" ></div>
<body>
<main>
    <div class="caja">
        <div class="caja-interno">
            <h2 th:text="'Edit '+${type}"></h2>
            <hr/>
            <form action="#" th:action="@{/__${offeRequest.url}__/update}"
                  th:object="${offeRequest}" method="post">
                <table>
                    <tr class="iz">
                        <td><label>Skill:</label></td>
                        <td><label>Description:</label></td>
                    </tr>
                    <tr class="iz">
                        <td><input type="text" maxlength="100" id="idSkill" th:field="*{skill.name}" readonly/></td>
                        <td><input type="text" maxlength="100" class="form-control" id="description" th:field="*{description}"/>
                            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p></td>
                    </tr>
                </table>
                <table>
                    <tr class="iz">
                        <td><label>Start date:</label></td>
                        <td><label>End date:</label></td>
                    </tr>

                    <tr class="iz">
                        <td><input type="date" id="startDate" th:field="*{startDate}"/>
                            <p th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></p>
                        </td>
                        <td><input type="date" id="endDate" th:field="*{endDate}"/>
                            <p th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></p>
                        </td>
                    </tr>
                    <h1 th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}">Error</h1>
                </table>
                <div class="hrdiv"><hr/></div>

                <table>
                    <tr>
                        <td><a th:href="@{/{type}/list(type=${offeRequest.url})}"><button class="sumit" type="button" >Back</button></a></td>
                        <td>

                            <input type="checkbox" class="checconf" id="confirm">
                            <label class="ajustesSubmit sumit3" for="confirm"> Apply </label>

                            <div class="corfrimacion">
                                <p class="color_text" th:text="'Are you sure you want to edit this '+${type}"></p>
                                <table class="botones">
                                    <tr>
                                        <td><label class="botonConf" for="confirm"> Back </label></td>
                                        <td><button class="sumit" type="submit">Apply</button></td>
                                    </tr>
                                </table>
                            </div>

                            <label class="fondoOscuro2"></label>
                        </td>

                    </tr>
                </table>
            </form>
</div>
    </div>
    </main>
</body>
</html>

