
<header class="header">
    <div class="logodiv"><img src="/imagenes/logoPlano.png" class="logo-plano"></div>
    <div class="navL">
        <nav class="navigation">
            <ul>
                <li><a><label class="color_text tam" for="check">☰</label></a></li>
                <li><a href="/"><img src="/imagenes/home.png" class="home-icon"></a></li>
                <li><div th:unless="*{user == null}"><a href="/chat/list" ><img src="/imagenes/comentario.png" class="home-icon"></a></div></li>
                <li><p class="userName" th:text="${session.UnreadMsg}" ></p></li>
            </ul>
        </nav>
        <nav class="navigation">
            <ul>
                <li>
                    <div th:object="${session}" xmlns:th="http://www.w3.org/1999/xhtml">
                        <a href="/login" class="color_text" th:if="*{user == null}">Log in</a>
                    </div>
                </li>
                <li>
                    <div class="ifs " th:object="${session}" xmlns:th="http://www.w3.org/1999/xhtml">
                            <a href="/register" class="color_text"  th:if="*{user == null}">Sign up</a>
                             <a class="color_text" href="/logout"
                                th:href="@{/logout}" th:unless="*{user == null}">Log out</span>
                             </a>
                    </div>
                </li>
                <li>
                    <div th:object="${session}" xmlns:th="http://www.w3.org/1999/xhtml">
                        <a href="/login" class="color_text userName" th:if="*{user == null}">
                            <img src="/imagenes/user.ico" class="user-icon" >
                        </a>
                        <a class="color_text userName" th:href="@{/profile/{id}(id=*{user.idStudent})}"  th:unless="*{user == null}">
                            <span  class="userName" th:text="*{user.name}"></span>
                            <img src="/imagenes/user.ico" class="user-icon" >
                        </a>
                    </div></li>
            </ul>
        </nav>
    </div>
</header>
<input type="checkbox" class="checkbox" id="check">

<div class="left-pane">
    <div class="elementos_iz"><label class="color_text tam" for="check">✖</label></div>
    <img SRC="/imagenes/logo.png" class="logo">
    <ul>
        <li th:if="not ${session.user == null}"><a href="/student/list" class="color_text interlimeado">Listar usuarios</a></li>
        <li ><a href="/request/list" class="color_text interlimeado">Request</a></li>
        <li th:if="not ${session.user == null}"><a href="/offer/list" class="color_text interlimeado">Offers</a></li>
        <li th:if="not ${session.user == null}"><a href="/skill/list" class="color_text interlimeado">Skills</a></li>
        <li th:if="not ${session.user == null}"><a href="/chat/list" class="color_text interlimeado">Comprobar chats</a></li>
    </ul>
</div>

<label class="fondoOscuro" for="check"></label>
