<header class="header">
    <div class="navL">
        <nav class="navigation">
            <ul>
                <li><a><label class="color_text tam" for="check">☰</label></a></li>
                <li><a href="/"><img src="imagenes/home-918.png" class="home-icon"></a></li>
            </ul>
        </nav>
        <nav class="navigation">
            <ul>
                <li><a href="/register" class="color_text">Sign up</a></li>
                <li><a href="/" class="color_text" >Log in</a></li>
                <li><a href="/"><img src="imagenes/user.ico" class="user-icon" ></a></li>
            </ul>
        </nav>
    </div>
</header>

<input type="checkbox" class="checkbox" id="check">

<div class="left-pane">

    <ul>
        <li class="elementos_iz"><label class="color_text tam" for="check">✖</label><li >
        <li ><a href="" class="color_text interlimeado">Add Skill</a></li>
        <li ><a href="" class="color_text interlimeado">ito chocho</a></li>
        <li ><a href="" class="color_text interlimeado">Tetas culo</a></li>
    </ul>
</div>

<label class="fondoOscuro" for="check"></label>
