.caja{
    border-radius: 20px;
    background: #7d9abb;
    width: 23rem;
    height: 21.8rem;
    margin: 0 auto;
    box-shadow: 0 0 0.7rem #333333;
}
.caja-interno{
    margin: auto;
    padding: 0 2rem;
    padding-bottom: 2rem;
    padding-top: 0.1rem;
    text-align: center;
}
main{
    color: white;
    padding-top: 7rem;
}
table{
    width: 100%;
}
tr {
    width: 100%;
}
td{
    padding: 0.2rem;
}
input{
    font-weight: bold;
    color: #7d9abb;
    width: 8.5rem;
    height: 1.5rem;
    border-radius: 5px;
    background: white;
    border: #7d9abb;
}
input:hover{
    background: #eee;
}

select{
    font-weight: bold;
    color: #7d9abb;
    width: 8.5rem;
    height: 1.5rem;
    border: white;
    border-radius: 5px;
    background: white;
}
select:hover{
    background: #eee;
}

option{
    font-weight: bold;
}

.sumit{
    width: 8rem;
    height: 1.8rem;
    border: white;
    border-radius: 5px;
    background: white;
    color: #7d9abb;
    font-weight: bold;
    cursor: pointer;

}
.ajustesSubmit{
    width: 8rem;
    height: 1.8rem;
    border: white;
    border-radius: 5px;
    background: white;
    color: #7d9abb;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;

}
.sumit2{
    padding: 0.45rem 1rem;

}
.sumit3{
    padding: 0.45rem 2.7rem;
}
.sumit4{
    padding: 0.45rem 2.1rem;
}
.iz{
    text-align: left
}

hr{
    height: 0.2rem;
    background: white;
    border: white;
}
.hrdiv{
    padding: 0.5rem 0;
}

.error{
    background: #FFC2C2;
}
.error:hover{
    background: white;
}

.read:hover{
    background: white;
}
.per{
    line-height: 0.9rem;
    margin: auto;
    padding: 0;
}
