*{
    box-sizing:border-box;
}
h1{
    color: white;
}
body{
    font-family:Arial;
}
#container{
    width:300px;
    height:500px;
    margin:0;
    font-size:0;
    border-radius:5px;
    overflow:hidden;
}
aside{
    width:260px;
    height:600px;
    background-color: #7699bf;
    display:inline-block;
    font-size:15px;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
aside header{
    padding:30px 20px;
}
aside input::placeholder{
    color:#fff;
}
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-thumb {
    background-color: #4c4c6a;
    border-radius: 2px;
}
aside ul{
    padding-left:0;
    margin:0;
    list-style-type:none;
    overflow-y:scroll;
    height:500px;
}
aside li:hover{
    background-color: #4e6375;
}
h2,h3{
    margin:0;
}

.buttonlist{
    background-color: transparent;
    color: white;
    border-color: white;
    height:auto;
    padding-bottom: 20px;
    width: 100%;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    text-align: left;
}

.addbutton{
    border: white;
    padding-top: 1px;
    border-radius: 5px;
    background: #7d9abb;
}

aside li div{
    display:inline-block;
    vertical-align:top;
    margin-top:12px;
}
aside li h2{
    font-size:14px;
    color:#fff;
    font-weight:normal;
    margin-bottom:5px;
}
aside li h3{
    font-size:12px;
    color:#7e818a;
    font-weight:normal;
}

main header{
    height:110px;
    padding:30px 20px 30px 40px;
}
main header > *{
    display:inline-block;
    vertical-align:top;
}

main header div{
    margin-left:10px;
    margin-right:145px;
}
main header h2{
    font-size:16px;
    margin-bottom:5px;
}
main header h3{
    font-size:14px;
    font-weight:normal;
    color:#7e818a;
}

#chat{
    padding-left:0;
    margin:0;
    list-style-type:none;
    overflow-y:scroll;
    height:535px;
    border-top:2px solid #fff;
    border-bottom:2px solid #fff;
}
#chat li{
    padding:10px 30px;
}
#chat h2,#chat h3{
    display:inline-block;
    font-size:13px;
    font-weight:normal;
}
#chat h3{
    color:#bbb;
}
#chat .entete{
    margin-bottom:5px;
}
#chat .message{
    padding:20px;
    color:#fff;
    line-height:25px;
    max-width:90%;
    display:inline-block;
    text-align:left;
    border-radius:5px;
}
#chat .me{
    text-align:right;
}
#chat .you .message{
    background-color:#58b666;
}
#chat .me .message{
    background-color:#6fbced;
}
#chat .triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
}
#chat .you .triangle{
    border-color: transparent transparent #58b666 transparent;
    margin-left:15px;
}
#chat .me .triangle{
    border-color: transparent transparent #6fbced transparent;
    margin-left:375px;
}

main footer{
    height:155px;
    padding:20px 30px 10px 20px;
}
main footer textarea{
    resize:none;
    border:none;
    display:block;
    width:100%;
    height:80px;
    border-radius:3px;
    padding:20px;
    font-size:13px;
    margin-bottom:13px;
}
main footer textarea::placeholder{
    color:#ddd;
}
main footer img{
    height:30px;
    cursor:pointer;
}
main footer a{
    text-decoration:none;
    text-transform:uppercase;
    font-weight:bold;
    color:#6fbced;
    vertical-align:top;
    margin-left:333px;
    margin-top:5px;
    display:inline-block;
}