#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
}


#form label {
    font-size: 20px;
}

input[type="radio"] {
    display: none;
}

.nombreAutor{
    font-size: 13px;
    font-style: italic;
}

.estrella{
    color: grey;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

label.estrella:hover,
label.estrella:hover ~ label {
    color: orange;
}

input[type="radio"]:checked ~ label {
    color: orange;
}