
main{
    text-align: center;
    padding-top: 4rem;
}

table{
    text-align: left;
    margin: auto;
}

th{
    width: 9rem;
    text-align: right;
    padding: 1rem 1rem;
}

td p{
    width: max-content;
    text-decoration: none;
    height: 2rem;
    background: white;
    border-radius: 8px;
    color: #7d9abb;
    padding: 0.25rem 0.25rem;

}

h1{
    color: #7d9abb;
}

.caja{
    width: max-content;
    margin: auto;
    padding: 1rem 2rem;
    background: #7d9abb;
    border-radius: 20px;
}

.tablaColla{
    color: white;
    margin: auto;
    border: white;
    border-radius: 5px;
    text-align: left;
}
.tablaColla th{
    text-align: center;
    background: #7d9abb;
    border-radius: 5px;
}
.tablaColla{
    margin: auto;
    padding: 0.5rem;
    border-radius: 5px;
}

.tablaColla tbody tr:nth-child(odd) {
    color: #7d9abb;
    background: #E8EEF6;
}
.tablaColla tbody tr:nth-child(even) {
    background: #DCE4EE;
    color: #7d9abb;
}