.atributes {
    width: 70%;
    align: center;
}
.contenedor {
    display: table;
    border: 0;
    width: 80%;
    text-align: center;
    margin: 10%;
    justify-content: center;
}
.contenidos {
    display: table-row;
}
.cell {
    display: table-cell;
    color: #7d9abb;
    border: 0;
    vertical-align: middle;
    padding: 10px;
}
table{
    color: white;
    margin: auto;
    border: white;
    border-radius: 5px;
    text-align: left;
}
td{
    margin: auto;
    padding: 0.5rem;
    border-radius: 5px;
}
table tr{
    color: #7d9abb;
    background: #DCE4EE;
}