.titulo{
    color: #7d9abb;
}
.centrado{
    text-align: center;
    margin: 0 auto;
    align-items: center;
}
.izquierda{
    text-align: left;
}
.add{
    width: 5rem;
    height: 2rem;
    border: white;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    background: #7d9abb;
}
.caja{
    margin: auto;
    border-radius: 20px;
    background: #7d9abb;
    width: 16rem;
    height: 20rem;
    box-shadow: 0 0 0.7rem #333333;
}
.caja-interno{
    margin: auto;
    padding: 0 2rem;
    padding-bottom: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    horiz-align: center;
}
.caja-interno div{

    height: 11rem;
}
.descripcion{
    background: white;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.texto{
    padding: 0 0.5rem;
    text-align: left;
    color: #7d9abb;
}

.tablaRequest td {
    vertical-align: top;
}
.tablaRequest li {
    vertical-align: top;
    list-style-type: none;
    margin-bottom: 2.5rem;
}