.titulo{
    color: #7d9abb;
}
.centrado{
    text-align: center;
    align-items: center;
}
.add{
    width: 5rem;
    height: 1.5rem;
    border: white;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    background: #7d9abb;
}
.caja{
    margin: auto;
    border-radius: 20px;
    background: #7d9abb;
    width: 16rem;
    height: 20.5rem;
    box-shadow: 0 0 0.7rem #333333;
}
.caja-interno{
    margin: auto;
    padding: 0 2rem;
    padding-top: 0.1rem;
    text-align: left;
    horiz-align: left;
}
.descripcion{
    background: white;
    width: 100%;
    border-radius: 5px;
    height: 8rem;
}
.texto{
    padding: 0.3rem 0.5rem;
    text-align: left;
    color: #7d9abb;
    font-size: 1rem;
    line-height: normal;
}

main {
    padding-top: 2rem;
}
.fecha{
    border-radius: 5px;
    border: white;
    width: 7.9rem;
}

.endStart{
    padding-right: 1rem;
}
.edit {
    padding-top: 0.75rem;
}
.edit a{
    text-decoration: none;
    width: 3.6rem;
    height: 2rem;
    border: white;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    background: white;
    color: #7d9abb;
    vertical-align: top;
}
.accept{
    width: 5rem;
}
.nombre{
    padding-top: 0.5rem;
}
.prueba{
    padding: 1rem 1rem;
    display:inline-grid
}
