h3{
    color: #7d9abb;
}

.add{
    width: 5rem;
    height: 1.5rem;
    border: white;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    background: #7d9abb;
}
.caja{
    margin: auto;
    border-radius: 20px;
    background: #7d9abb;
    width: 16rem;
    height: 22.5rem;
    box-shadow: 0 0 0.7rem #333333;
}
.caja-interno{
    margin: auto;
    padding: 0 2rem;
    padding-top: 0.1rem;
    text-align: left;
    horiz-align: left;
}

hr{
    height: 1px;
    background-color: white;
}
.descripcion{
    background: white;
    width: 100%;
    border-radius: 5px;
    height: 8rem;
}
.texto{
    padding: 0.3rem 0.5rem;
    text-align: left;
    color: #7d9abb;
    font-size: 1rem;
    line-height: normal;
}

main {
    padding-top: 3rem;
}
.fecha{
    font-weight: bold;
    color: #7d9abb;
    border-radius: 5px;
    border: white;
    width: 7.9rem;
}

.endStart{
    padding-right: 1rem;
}
.edit {
    width: 100%;
    border-spacing: 10px;
}
.edit td{
    padding: 0 0.5rem;
    background: white;
    border-radius: 5px;
}
.edit a{
    text-decoration: none;
    color: #7d9abb;
}



.accept{
    width: 5rem;
}
.nombre{
    font-size: 1.3em;
    padding-top: 0.5rem;
}

.nombreAutor{
    font-size: 13px;
    font-style: italic;
}

.tamIcon{
    padding-top: 0.3rem;
    height: 1.5rem;
    cursor: pointer;

}


.accept{
    color: #7d9abb;
    cursor: pointer;

}