table{
    color: white;
    margin: auto;
    background-color: #7d9abb;
    border: white;
    border-radius: 5px;
}
th{
    height: 2rem;
}
td{
    margin: auto;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1rem black ;
}
tr{

}
table tbody tr:nth-child(odd) {
    color: #7d9abb;
    background: #E8EEF6;
}
table tbody tr:nth-child(even) {
    background: #DCE4EE;
    color: #7d9abb;

}

a{
    color: #7d9abb;
    text-decoration: none;
}