table{
    color: white;
    margin: auto;
    border: white;
    border-radius: 5px;
    text-align: left;
}
th{
    text-align: center;
    height: 2rem;
    background: #7d9abb;
    border-radius: 5px;
}
td{
    margin: auto;
    padding: 0.5rem;
    border-radius: 5px;
}

table tbody tr:nth-child(odd) {
    color: #7d9abb;
    background: #E8EEF6;
}
table tbody tr:nth-child(even) {
    background: #DCE4EE;
    color: #7d9abb;

}
a{
    color: #7d9abb;
    text-decoration: none;
}
.tamIcon{
    height: 1.5rem;
    cursor: pointer;

}

.add{
    width: 5rem;
    height: 1.5rem;
    border: white;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    background: #7d9abb;
}