
/* Classe CSS error */
.error {
     color: red;
     font-size:80%
}

body{
     font-family: Arial;
     color: #333;
     font-size: 1.2rem;
     line-height: 1.5em;
     margin: 0;
}

.container{
     width: 85%;
     max-width: 850px;
     margin: 0 auto;
}

.header {
     background: #7d9abb;
     padding: 0.5rem 0;
     position: fixed;
     left:0;
     top:0;
     right:0;
}

.menu-icon{

}

.color_text{

     font-family: Arial;
     font-weight: bold;
     color: white;
     font-size: 1.2rem;
     margin: 0;
}

.navL{
     display: flex;
     justify-content: space-between;
     align-items: end;
     flex-wrap: wrap;
}

.navigation ul{
     margin:0;
     padding: 0;
     list-style: none;
}
     .navigation ul li{
          display: inline-block;
     }
          .navigation ul li a{
               display: block;
               padding: 0.1rem 1rem;
               transition: all 0.4s linear;
               border-radius: 5px;
          }
               .navigation ul li a:hover{
                    background:#ccc;
               }

.logo{
     letter-spacing: 15px;
     font-size: 1.2em;
}

main{
     padding-top: 6rem;
}

.barras{
     display:inline-block;
     width:1em;
     height:0.1em;
     vertical-align:middle;
     background-repeat:no-repeat;
     background-position:center;
     background-size:100%
}




