
body{
     font-family: Arial;
     color: #333;
     font-size: 1.2rem;
     line-height: 1.5em;
     margin: 0;
     background: #F6FAFF;
     min-width:600px;
}

.container{
     width: 85%;
     margin: 0 auto
}

main{
     padding-top: 3rem;
}

.barras{
     display:inline-block;
     width:1em;
     height:0.1em;
     vertical-align:middle;
     background-repeat:no-repeat;
     background-position:center;
     background-size:100%
}

.color_textprueba{
     text-decoration:none;
     font-family: Arial;
     font-weight: bold;
     font-style: normal;
     color: red;
     font-size: 1.2rem;
}

