
/* Classe CSS error */
.error {
     color: red;
     font-size:80%
}

body{
     font-family: Arial;
     color: #333;
     font-size: 1.2rem;
     line-height: 1.5em;
     margin: 0;
     background: #F6FAFF;
}

.container{
     width: 85%;
     max-width: 850px;
     margin: 0 auto
}

main{
     padding-top: 3rem;
}

.barras{
     display:inline-block;
     width:1em;
     height:0.1em;
     vertical-align:middle;
     background-repeat:no-repeat;
     background-position:center;
     background-size:100%
}




