.caja{
    border-radius: 20px;
    background: #7d9abb;
    width: 40rem;
    height: 32rem;
    margin: 0 auto;
    box-shadow: 0 0 0.7rem #333333;
}
.caja-interno{
    margin: auto;
    padding: 0 2rem;
    padding-bottom: 2rem;
    padding-top: 0.01rem;
    text-align: center;
}
main{
    color: white;
    padding-top: 4rem;
    text-align: center;
}
table{
    width: 100%;
}
tr {
    width: 100%;
}
td{
    padding: 0.2rem;
}

.register{
    padding-top: 1rem;
}
.register input{
    width: 8rem;
    height: 1.8rem;
    border: white;
    border-radius: 5px;
    background: white;
    color: #7d9abb;
    font-weight: bold;
}
.rellena{
     width: 15rem;
     height: 1.5rem;
     border: white;
     border-radius: 5px;
     background: white;
 }

.rellena2{
    border: white;
    border-radius: 5px;
    width: 15.4rem;
    height: 1.85rem;
}

.rellenaGrande{
     width: 37rem;
     height: 6.5rem;
     border: white;
     border-radius: 5px;
     background: white;
 }

.errorGrande{
    width: 37rem;
    height: 6.5rem;
    border-radius: 5px;
    background: #FFC2C2;
    border: red;
}
.rellena:hover{
    background: #eee;
}
.rellena2:hover{
    background: #eee;
}


.error{
    width: 15rem;
    height: 1.5rem;
    border-radius: 5px;
    background: #FFC2C2;
    border: red;
}
.error2 {
    background: #FFC2C2;
    border: red;
    border-radius: 5px;
    width: 15.4rem;
    height: 1.85rem;
}
.error:hover{
    background: white;
}
.error2:hover{
    background: white;
}

.iz{
    text-align: left
}
label{
    padding-left: 1rem;
}
hr{
    height: 0.2rem;
    background: white;
    border: white;
}
p{
    color: #7d9abb;
}
a{
    background: #7d9abb;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    padding: 0.5rem;
}