table{
    background-color: #7d9abb;
    height: 25rem;
    border: 1px solid #333333;
}
thead {
    width: 100%;
    background-color: #7d9abb;
}
tbody tr:nth-child(even){
    background-color: #ffffff;
}

tbody tr{
    background-color: #bbd2ea;
}

td{
    border: 1px solid #333333;
    text-align: center;
}

th{
    border: 1px solid #333333;
    text-align: center;
}