<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>EI1027</title>
    <link href="../static/css/skillsharing.css" rel="stylesheet" th:href="@{/css/skillsharing.css}"/>
    <link href="../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}"/>
</head>

<div th:replace="fragments/header" ></div>

<body>

<main>
    <div class="container">
        <h1 class="titulo" th:text="${type}+'s'"></h1>
        <table>
            <tr th:each="offeRequest: ${list}">
                <td class="caja color_text">
                    <div class="caja-interno">
                        <label th:text="${offeRequest.skill.idSkill}"></label>
                        <div class="texto">
                            <label class="start">Start</label>
                            <label>End</label>
                            <label class="start" th:text="${offeRequest.startDate}"></label>
                            <label class="end" th:text="${offeRequest.endDate}"></label>
                            <p class="texto"  th:text="${offeRequest.description}"></p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</main>

<!--<footer class="footer">-->
<!--    <div class="container">-->
<!--        <p>hola</p>-->
<!--    </div>-->
<!--</footer>-->


</body>
</html>

