<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>EI1027</title>
    <link href="../static/css/skillsharing.css" rel="stylesheet" th:href="@{/css/skillsharing.css}"/>
    <link href="../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}"/>
</head>

<div th:replace="fragments/header" ></div>

<body>

<main class="main">
    <div class="container">
        <h1> titulo </h1>
        <a href="register">Registrarse</a></li>
        <li><a href="student/list">Listar usuarios</a></li>
        <li><a href="request/list">Request</a></li>
        <li><a href="offer/list">Offers</a></li>
        <li><a href="skill/list">Skills</a></li>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>








    </div>

</main>

<!--<footer class="footer">-->
<!--    <div class="container">-->
<!--        <p>hola</p>-->
<!--    </div>-->
<!--</footer>-->


</body>
</html>
