<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>
  <meta charset="UTF-8"/>
  <link href="../static/css/skillsharing.css" rel="stylesheet" th:href="@{/css/skillsharing.css}"/>
  <link href="../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}"/>
  <link href="../static/css/login.css" rel="stylesheet" th:href="@{/css/login.css}"/>

</head>

<div th:replace="fragments/header" ></div>

<body>
<main class="centrado">
  <div class="caja">
    <div class="caja-interno">
      <h2>Log in</h2>
      <hr>
      <form action="#" th:action="@{/login}" th:object="${user}" method="post">
        <table>

          <tr class="iz">
            <td><label>Email/Student's id:</label></td>
          </tr>

          <tr>
            <td>
              <input type="text" th:field="*{name}" class="error" th:if="${#fields.hasErrors('name')}" />
              <input type="text" th:field="*{name}" th:unless="${#fields.hasErrors('name')}" />
            </td>
          </tr>

          <tr class="iz">
            <td>
              <label>Password:</label>
            </td>
          </tr>

          <tr>
            <td>
              <div class="iz er" th:if="${#fields.hasErrors('password')}"><label>Incorrect password</label></div>
              <input type="password" class="error" th:field="*{password}" th:if="${#fields.hasErrors('password')}" />
              <input type="password"  th:field="*{password}" th:unless="${#fields.hasErrors('password')}"/>
            </td>
          </tr>

        </table>
        <br>
        <input class="sumit" type="submit" value="Submit"/>
        <br>
        <br>
        <hr>
      </form>
    </div>
  </div>
  <p>New to SkillSharing? <a th:href="register">Sign up</a> </p>
</main>

</body>
</html>
