<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>
  <meta charset="UTF-8"/>
  <link href="../static/css/skillsharing.css" rel="stylesheet" th:href="@{/css/skillsharing.css}"/>
  <link href="../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}"/>

</head>

<div th:replace="fragments/header" ></div>

<body>
<main class="main con" >
  <h2>Accés</h2>
  <form action="#" th:action="@{/login}"
        th:object="${user}" method="post">
    <p>
      <label>Email/Student's id:</label>
      <input type="text" th:field="*{name}"/>
    </p>
    <p>
      <label>Password:</label>
      <input type="password" th:field="*{password}"/>
    <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </p>
    <input type="submit" value="Accedir" />
  </form>
</main>
</body>
</html>
