<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="*{session.user.name}"></title>
    <meta charset="UTF-8"/>
    <link href="../static/css/skillsharing.css" rel="stylesheet" th:href="@{/css/skillsharing.css}"/>
    <link href="../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}"/>
    <link href="../static/css/profile.css" rel="stylesheet" th:href="@{/css/profile.css}"/>

</head>
<div th:replace="fragments/header" ></div>

<body>
<main>
    <div class="caja color_text">
        <table>
            <tr>
                <th>
                        <label>Name:</label>
                </th>

                <td>
                    <label th:text="*{session.user.name}"></label>
                </td>
                <th>
                        <label>Email:</label>
                </th>
                <td>
                <label th:text="*{session.user.email}"></label>
                </td>

            </tr>
            <tr>
                <th>
                    <label>Balance hours:</label>
                </th>
                <td>
                    <label th:text="*{session.user.balanceHours}"></label>
                </td>
            </tr>
        </table>
    </div>
</main>
</body>
</html>