<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
    <meta charset="UTF-8"/>
    <link href="../static/css/skillsharing.css" rel="stylesheet" th:href="@{/css/skillsharing.css}"/>
    <link href="../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}"/>
    <link href="../static/css/profile.css" rel="stylesheet" th:href="@{/css/profile.css}"/>

</head>
<div th:replace="fragments/header" ></div>

<body>
<main>
    <div class="contenedor">
        <div class="contenidos">
            <div class="cell">Name:</div>
            <div><label th:text="${session.user.getName()}" ></label></div>
            <div class="cell">Email:</div>
            <div><label th:text="${session.user.getEmail()}" ></label></div>
        </div>
        <div class="contenidos">
            <div class="cell">Student ID:</div>
            <div><label th:text="${session.user.getIdStudent()}" ></label></div>
            <div class="cell">Hours:</div>
            <div><label th:text="${session.user.getBalanceHours()}" ></label></div>
        </div>
    </div>
    <div class="contenedor">
        <div class="contenidos">
            <div class="cell"></div>
            <div class="cell">Your offers</div>
            <div class="cell">Active collaborations</div>
        </div>
    </div>
</main>
</body>
</html>