<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta charset="UTF-8" />
    <link href="../static/css/skillsharing.css" rel="stylesheet" th:href="@{/css/skillsharing.css}"/>
    <link href="../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}"/>
    <link href="../static/css/registro.css" rel="stylesheet" th:href="@{/css/registro.css}"/>

</head>

<div th:replace="fragments/header" ></div>

<body>
<main>
    <div class="caja">
        <div class="caja-interno">
        <h2 >Nuevo usuario</h2>
            <hr/>
        <form action="#" th:action="@{/register}"
              th:object="${student}" method="post">
            <table>
                <tr class="iz">
                    <td><label>Name</label></td>
                    <td><label>Surname</label></td>
                </tr>
                <tr>

                    <td><input type="text" th:field="*{name}" placeholder="Name" maxlength="15" th:errorclass="needcorrection"/></td>
                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"  ></td>


                    <td><input type="text" th:field="*{surname}" placeholder="Surname" maxlength="35" th:errorclass="needcorrection"/></td>
                    <td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="error"  ></td>
                </tr>

                <tr class="iz">
                    <td><label>DNI</label></td>
                    <td><label>Phone Number</label></td>
                </tr>
                <tr>
                    <td><input type="text" th:field="*{dni}" maxlength="9" placeholder="12345678A"/></td>
                    <td th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}" class="error"  ></td>

                    <td><input type="number" placeholder=123456789 th:field="*{phoneNumber}" value=1 /></td>
                    <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="error">
                </tr>
                <tr class="iz">
                    <td><label>Email</label></td>
                    <td><label>Password</label></td>
                </tr>
                <tr>
                    <td><input type="password" th:field="*{password}" maxlength="20"/></td>
                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></td>

                    <td><input type="text" th:field="*{email}" maxlength="50" placeholder="example@example.org"/></td>
                    <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"  ></td>
                </tr>

                <tr class="iz">
                    <td><label>Degree</label></td>
                    <td><label>Course</label></td>
                </tr>
                <tr>

                    <td><select class="inputs" type="text" th:field="*{degree}">
                        <!--option value="No seleccionat">Selecciona el gènere</option-->
                        <option value="null">Select one of the degrees</option>
                        <option value="Ingeniería Informática">Ingeniería Informática</option>
                        <option value="Diseño y Desarrollo de Videojuegos">Diseño de Videojuegos</option>
                        <option value="Ingeniería Eléctrica">Ingeniería Eléctrica</option>
                        <option value="Arquitectura Técnica">Arquitectura Técnica</option>
                        <option value="Ingeniería Industrial">Ingeniería Industrial</option>
                        <option value="Ingeniería en Diseño Industrial">Ingeniería en Diseño Industrial</option>
                        <option value="Ingeniería Mecánica">Ingeniería Mecánica</option>
                        <option value="Ingeniería Química">Ingeniería Química</option>
                        <option value="Matemática Computacional">Matemática Computacional</option>
                        <option value="Química">Química</option>
                        </select>
                    </td>
                    <td th:if="${#fields.hasErrors('degree')}" th:errors="*{degree}" class="error"></td>

                    <td> <select class="inputs" type="number" th:field="*{course}">
                        <!--option value="No seleccionat">Selecciona el gènere</option-->
                        <option value="1">1st Year</option>
                        <option value="2">2nd Year</option>
                        <option value="3">3rd Year</option>
                        <option value="4">4th Year</option>

                    </select>
                    </td>
                    <td th:if="${#fields.hasErrors('course')}" th:errors="*{course}"></td>
                </tr>
            </table>
            <br>
            <input class="register" type="submit" value="Register"/>
            <br>
            <br>
            <hr>
        </form>
        </div>
    </div>


</main>
</body>
</html>
