<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"     href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/skillsharing.css"/>
</head>
<body>
<h2>Nuevo usuario</h2>
<form action="#" th:action="@{/register}"
      th:object="${student}" method="post">
    <table>
        <tr>
            <td><label>Name</label></td>
            <td><input type="text" th:field="*{name}"
                       placeholder="Name and surname" maxlength="50" th:errorclass="needcorrection"/></td>

            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"  ></td>
        </tr>
        <tr>
            <td><label>DNI</label></td>
            <td><input type="text" th:field="*{dni}" maxlength="9" placeholder="12345678A"/></td>
            <td th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}" class="error"  ></td>
        </tr>
        <tr>
            <td><label>Password</label></td>
            <td><input type="password" th:field="*{password}" maxlength="20"/></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></td>

        </tr>
        <tr>
            <td><label>Email</label></td>
            <td><input type="text" th:field="*{email}" maxlength="50" placeholder="example@example.org"/></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"  ></td>

        </tr>
        <tr>
            <td><label>Phone Number</label></td>
            <td><input type="tel" th:field="*{phoneNumber}" placeholder="123456789" th:errorclass="needcorrection"/></td>
            <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="error">
        </tr>
        <tr>
            <td><label>Degree</label></td>
            <td> <select class="form_control" type="text" th:field="*{degree}">
                <!--option value="No seleccionat">Selecciona el gènere</option-->
                <option value="null">Select one of the degrees</option>
                <option value="Ingeniería Informática">Ingeniería Informática</option>
                <option value="Diseño y Desarrollo de Videojuegos">Diseño de Videojuegos</option>
                <option value="Ingeniería Eléctrica">Ingeniería Eléctrica</option>
                <option value="Arquitectura Técnica">Arquitectura Técnica</option>
                <option value="Ingeniería Industrial">Ingeniería Industrial</option>
                <option value="Ingeniería en Diseño Industrial">Ingeniería en Diseño Industrial</option>
                <option value="Ingeniería Mecánica">Ingeniería Mecánica</option>
                <option value="Ingeniería Química">Ingeniería Química</option>
                <option value="Matemática Computacional">Matemática Computacional</option>
                <option value="Química">Química</option>

            </select>
            </td>
            <td th:if="${#fields.hasErrors('degree')}" th:errors="*{degree}" class="error"></td>
        </tr>

        <tr>
            <td><label>Course</label></td>
            <td> <select class="form_control" type="number" th:field="*{course}">
                <!--option value="No seleccionat">Selecciona el gènere</option-->
                <option value="1">1st Year</option>
                <option value="2">2nd Year</option>
                <option value="3">3rd Year</option>
                <option value="4">4th Year</option>

            </select>
            </td>
            <td th:if="${#fields.hasErrors('course')}" th:errors="*{course}"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Register"/></td>
        </tr>
        <tr>
            <a href=".."><button type="button" class="btn btn-danger">Atrás</button></a>
        </tr>
    </table>
</form>
</body>
</html>
