<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta charset="UTF-8" />
    <link href="../static/css/skillsharing.css" rel="stylesheet" th:href="@{/css/skillsharing.css}"/>
    <link href="../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}"/>
    <link href="../static/css/registro.css" rel="stylesheet" th:href="@{/css/registro.css}"/>

</head>

<div th:replace="fragments/header" ></div>

<body>
<main>
    <div class="caja">
        <div class="caja-interno">
        <h2 >New student</h2>
            <hr/>
        <form action="#" th:action="@{/register}"
              th:object="${student}" method="post">
            <table>
                <tr class="iz">
                    <td><label>Name</label></td>
                    <td><label>Surname</label></td>
                </tr>
                <tr>
                    <td>
                        <input type="text"  class="error" th:if="${#fields.hasErrors('name')}" th:field="*{name}"
                               placeholder="Name" maxlength="15" th:errorclass="needcorrection"/>
                        <input type="text"  class="rellena" th:unless="${#fields.hasErrors('name')}" th:field="*{name}"
                               placeholder="Name" maxlength="15" th:errorclass="needcorrection"/>
                    </td>
                    <td>
                        <input type="text" class="error" th:if="${#fields.hasErrors('surname')}" th:field="*{surname}"
                               placeholder="Surname" maxlength="35" th:errorclass="needcorrection"/>
                        <input type="text"  class="rellena" th:unless="${#fields.hasErrors('surname')}" th:field="*{surname}"
                               placeholder="Surname" maxlength="35" th:errorclass="needcorrection"/>
                    </td>
                </tr>

                <tr class="iz">
                    <td><label>DNI</label></td>
                    <td><label>Phone Number</label></td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="error"  th:if="${#fields.hasErrors('dni')}" th:field="*{dni}"
                               maxlength="9" placeholder="12345678A"/>
                        <input type="text" class="rellena" th:unless="${#fields.hasErrors('dni')}" th:field="*{dni}"
                               maxlength="9" placeholder="12345678A"/>
                    </td>
                    <td>
                        <input type="number" class="error" th:if="${#fields.hasErrors('phoneNumber')}"
                               th:field="*{phoneNumber}" />
                        <input type="number" class="rellena" th:unless="${#fields.hasErrors('phoneNumber')}"
                               th:field="*{phoneNumber}" />
                    </td>
                </tr>
                <tr class="iz">
                    <td><label>Email</label></td>
                    <td><label>Password</label></td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="error" th:if="${#fields.hasErrors('email')}" th:field="*{email}"
                               maxlength="50" placeholder="example@example.org"/>
                        <input type="text" class="rellena" th:unless="${#fields.hasErrors('email')}" th:field="*{email}"
                               maxlength="50" placeholder="example@example.org"/>
                    </td>
                    <td>
                        <input type="password" class="error" th:if="${#fields.hasErrors('email')}"th:field="*{password}"
                               maxlength="20"/>
                        <input type="password" class="rellena" th:unless="${#fields.hasErrors('email')}"th:field="*{password}"
                               maxlength="20"/>
                    </td>
                </tr>
                <tr class="iz">
                    <td><label>Degree</label></td>
                    <td><label>Course</label></td>
                </tr>
                <tr>
                    <td><select class="error2" th:if="${#fields.hasErrors('degree')}"  th:field="*{degree}">
                        <!--option value="No seleccionat">Selecciona el gènere</option-->
                        <option value="null">Select one of the degrees</option>
                        <option value="Ingeniería Informática">Ingeniería Informática</option>
                        <option value="Diseño y Desarrollo de Videojuegos">Diseño de Videojuegos</option>
                        <option value="Ingeniería Eléctrica">Ingeniería Eléctrica</option>
                        <option value="Arquitectura Técnica">Arquitectura Técnica</option>
                        <option value="Ingeniería Industrial">Ingeniería Industrial</option>
                        <option value="Ingeniería en Diseño Industrial">Ingeniería en Diseño Industrial</option>
                        <option value="Ingeniería Mecánica">Ingeniería Mecánica</option>
                        <option value="Ingeniería Química">Ingeniería Química</option>
                        <option value="Matemática Computacional">Matemática Computacional</option>
                        <option value="Química">Química</option>
                        </select>
                        <select class="rellena2" th:unless="${#fields.hasErrors('degree')}" type="text" th:field="*{degree}">
                            <!--option value="No seleccionat">Selecciona el gènere</option-->
                            <option value="null">Select one of the degrees</option>
                            <option value="Ingeniería Informática">Ingeniería Informática</option>
                            <option value="Diseño y Desarrollo de Videojuegos">Diseño de Videojuegos</option>
                            <option value="Ingeniería Eléctrica">Ingeniería Eléctrica</option>
                            <option value="Arquitectura Técnica">Arquitectura Técnica</option>
                            <option value="Ingeniería Industrial">Ingeniería Industrial</option>
                            <option value="Ingeniería en Diseño Industrial">Ingeniería en Diseño Industrial</option>
                            <option value="Ingeniería Mecánica">Ingeniería Mecánica</option>
                            <option value="Ingeniería Química">Ingeniería Química</option>
                            <option value="Matemática Computacional">Matemática Computacional</option>
                            <option value="Química">Química</option>
                        </select>
                    </td>
                    <td> <select class="error2" th:if="${#fields.hasErrors('degree')}" type="number" th:field="*{course}">
                        <!--option value="No seleccionat">Selecciona el gènere</option-->
                        <option value="1">1st Year</option>
                        <option value="2">2nd Year</option>
                        <option value="3">3rd Year</option>
                        <option value="4">4th Year</option>
                        </select>
                        <select class="rellena2" th:unless="${#fields.hasErrors('degree')}" type="number" th:field="*{course}">
                            <!--option value="No seleccionat">Selecciona el gènere</option-->
                            <option value="1">1st Year</option>
                            <option value="2">2nd Year</option>
                            <option value="3">3rd Year</option>
                            <option value="4">4th Year</option>
                        </select>
                    </td>
                </tr>
            </table>
            <br>
            <input class="register" type="submit" value="Register"/>
            <br>
            <br>
            <hr>
        </form>
        </div>
    </div>
</main>
</body>
</html>
