<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<link href="../static/css/skillsharing.css" rel="stylesheet" th:href="@{/css/skillsharing.css}"/>
<link href="../static/css/welcome.css" rel="stylesheet" th:href="@{/css/welcome.css}"/>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="../static/css/skillsharing.css" rel="stylesheet" th:href="@{/css/skillsharing.css}"/>
  <link href="../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}"/>

</head>
<div th:replace="fragments/header" ></div>

<body>
<main class="main">
    <div class="container">
        <h1>Where you can learn teaching</h1>
        <img src="/imagenes/logo.png">
        <h2>Join the SkillSharing community and show your skills to students like you.</h2>
        <h3>Create an account to offer your knowledge to the community and start learning</h3>
        <a th:href="@{/login}">Log in</a>
        <a th:href="@{/register}">Sign up</a>
        <a th:href="@{/request/list}">Continue as guest</a>
        <p class="texto_pequeño">As a guest you can see which skills are the students requesting</p>
    </div>
</main>
</body>
</html>