<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="../static/css/skillsharing.css" rel="stylesheet" th:href="@{/css/skillsharing.css}"/>
  <link href="../static/css/header.css" rel="stylesheet" th:href="@{/css/header.css}"/>

</head>
<div th:replace="fragments/header" ></div>

<body>
<main class="main">
  <h1>Where you can learn teaching</h1>
  <h2>Join the SkillSharing community and teach your skills to students like you.</h2>
    <h3>Create an account to offer your knowledge to the community and start learning</h3>
    <table>
        <tr>
            <td><a>Log in</a></td>  <td><p><a>Sign up</a></td>
        </tr>
    </table>


  <p><a>Continue as guest</a></p>
    <p>As a guest you can see which skills are the students requesting</p>




</main>
</body>
</html>